/* PC */
@media screen and (min-width: 992px) {
    .toggle-menu,
    .mobile-header,
    .service__group .radio-input,
    .gallery__group .radio-input {
        display: none;
    }
}

/* Table & Mobile */
@media screen and (max-width: 991.98px) {
    /* common */
    .hidden__tablet-mobile {
        flex-wrap: nowrap;
    }
    /* Navigator */
    .navbar {
        padding: 45px 30px;
        position: relative;
        margin: 0 !important;
        border-bottom: 1px solid #d6d3e2;
    }

    .mail__box {
        position: absolute;
        top: 20px;
        right: 72px;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mail__box--link {
        visibility: hidden;
    }

    .navbar ul {
        display: none;
    }

    .toggle-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #ccc;
    }

    .toggle-menu svg {
        width: 24px;
        color: #5d3bee;
    }

    .mobile-header .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .mobile-header .menu-drawer {
        position: fixed;
        inset: 0 0 0 45%;
        background: #fff;
        z-index: 3;
        padding: 20px;
        transform: translateX(100%);
        transition: 0.5s ease;
    }

    .menu-drawer a img {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 100px;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #51586a;
        font-weight: 500;
    }

    .mobile-header .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .mobile-header .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    /* Hero */
    .hero {
        padding: 0 !important;
    }

    .hero .hero__inner {
        column-gap: 50px;
    }

    .hero__inner .hero__media::after {
        top: -250px;
        left: -230px;
    }

    .hero__media .hero__media-images {
        bottom: -5px;
        width: 100%;
        height: 446px;
    }

    .hero__inner .hero__content {
        width: 40%;
        margin-top: 50px;
    }

    .hero__content::after {
        display: none;
    }

    .hero__content .hero__content--title {
        width: 90%;
        font-size: 4.2rem;
        line-height: 1.19;
        letter-spacing: -1.12px;
    }

    .hero__content .hero__content--desc {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;
    }

    .hero__content .hero__action {
        margin-top: 30px;
    }

    .hero__content .btn {
        max-width: 147px;
        max-height: 54px;
        font-size: 1.6rem;
    }

    .hero__content .hero__action--link {
        font-size: 1.6rem;
    }

    .hero__content .hero__social {
        margin-top: 25px;
    }

    /* Company */
    .company__inner {
        margin-top: 98px;
        flex-direction: column;
    }

    .company__inner .company__title {
        position: relative;
        width: 45%;
        text-align: center;
    }

    .company__inner .company__title::before {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .company__inner .company__social {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 41px;
        column-gap: 65px;
    }

    /* Service */
    .service {
        margin-top: 120px !important;
        overflow: hidden;
    }

    .service__content .service__mobile--heading {
        font-size: 3.6rem;
        line-height: 1.16;
        letter-spacing: -1.44px;
    }

    .service__content .service__content--desc {
        width: 60%;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.62;
    }

    .service .service__group {
        overflow: hidden;
    }

    .service__group .service-box {
        margin: 0 auto;
    }

    .service__group .radio-input {
        justify-content: center;
    }

    /* Project */
    .project {
        margin-top: 120px !important;
        padding: 69px 0 !important;
    }

    .project__content {
        flex-direction: column;
        text-align: center;
    }

    .project__content .project__content--title {
        width: 100%;
        font-size: 3.6rem;
        line-height: 1.16;
        letter-spacing: -1.44px;
    }

    .project__content .project__content--desc {
        width: 70%;
        margin-top: 20px;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .project__group .project-box:hover {
        rotate: initial;
    }

    .project .project__cta {
        max-width: 154px;
        max-height: 56px;
        font-size: 1.6rem;
        font-weight: 700;
    }

    /* About */
    .about {
        margin-top: 120px !important;
    }

    .about__content .about__content--sub-title {
        font-size: 2rem;
        line-height: 2;
        letter-spacing: -0.8px;
    }

    .about__content .about__content--title {
        font-size: 3.6rem;
        line-height: 1.16;
        letter-spacing: -1.44px;
    }

    .about__content .about__content--desc {
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .about .about__number {
        padding: 30px 100px;
        column-gap: 100px;
    }

    .about-item .about-item__number {
        font-size: 3rem;
        line-height: 1.4;
        letter-spacing: 0.9px;
    }

    .about-item .about-item__desc {
        font-size: 16px;
        line-height: 1.37;
    }

    /* Review */
    .review {
        margin-top: 0 !important;
    }

    .review .review__video {
        top: 40px;
    }

    .review__video .video {
        top: -100px;
        width: 95%;
        height: 100%;
    }

    .review__content .review__content--title {
        font-size: 3.6rem;
        line-height: 1.16; /* 116.667% */
        letter-spacing: -1.44px;
    }

    .review__content .review__content--desc {
        width: 70%;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .review .review__preview {
        margin-top: 40px;
    }

    .review__preview .review__preview--quote {
        width: 70%;
        font-size: 1.8rem;
        line-height: 1.67;
    }

    .radio-input {
        z-index: 1;
    }

    /* Faq */
    .faq {
        margin-top: 120px !important;
    }

    .faq .faq__heading {
        width: 100%;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: -1.44px;
    }

    .faq__quest .faq__group {
        margin-top: 42px;
    }

    .faq__group .faq__input {
        width: 170%;
    }

    .faq__group .faq__label {
        width: 70%;
        font-size: 24px;
        line-height: 1.25;
        letter-spacing: -0.96px;
    }

    .faq__group .form__box {
        left: 170px;
        top: -10px;
    }

    .faq__group .bar {
        width: 150%;
    }

    .faq__group .bar:before {
        left: 35%;
    }

    /* Gallery */
    .gallery {
        margin-top: 120px !important;
    }

    .gallery__content .gallery__content--heading {
        font-size: 3.6rem;
        line-height: 1.16;
        letter-spacing: -1.44px;
    }

    .gallery__content .gallery__content--desc {
        width: 70%;
        font-size: 1.6rem;
        line-height: 1.62;
    }

    .gallery__content .gallery__content--link {
        font-size: 2rem;
        letter-spacing: -0.8px;
    }

    .gallery__group {
        overflow: hidden;
    }

    .gallery .gallery-img {
        width: 100%;
    }

    .gallery__group .radio-input {
        justify-content: center;
    }

    /* Contact */
    .contact {
        margin-top: 120px !important;
        padding: 36px 0 !important;
    }

    .contact .contact__icon {
        width: 48px;
        height: 48px;
    }

    .contact .contact__title {
        width: 30%;
        text-align: center;
        font-size: 3.6rem;
        line-height: 1.16;
        letter-spacing: -1.44px;
    }

    .contact .contact__desc {
        font-size: 16px;
        line-height: 1.62;
    }

    .contact .contact__btn {
        max-width: 147px;
        max-height: 55px;
    }

    /* Footer */
    .footer {
        position: relative;
        margin-top: 120px !important;
    }

    .footer-mail {
        position: absolute;
        top: 198px;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-mail .footer-mail__box {
        position: initial;
    }

    .footer-mail .footer-mail__box--link {
        visibility: visible;
        font-size: 2.2rem;
    }

    .footer-logo {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer-navbar .footer-navbar-list {
        display: flex;
        margin: 120px auto;
    }

    .footer-copyright {
        position: relative;
        padding: 0 !important;
        border-top: none !important;
    }

    .footer-copyright .footer-copyright__left {
        margin: 0 auto;
    }

    .footer-copyright .footer-copyright__right {
        position: absolute;
        width: 80%;
        top: -80px;
        left: 140px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .faq__group .faq__label {
        width: 300px;
    }

    .faq__group .faq__input {
        width: 700px;
    }

    .faq__group .bar {
        width: 700px;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .mobile-header .menu-drawer {
        inset: 0 0 0 25%;
        padding: 20px;
    }

    .hero__inner {
        flex-direction: column;
    }

    .hero__inner .hero__media {
        margin-top: 20px;
        order: 2;
        overflow: hidden;
    }

    .hero__inner .hero__content {
        width: 80%;
        order: 1;
    }

    .company__inner .company__title {
        width: 60%;
    }

    .service__content .service__content--desc {
        width: 75%;
    }

    .project__content .project__content--desc {
        width: 75%;
    }

    .project-box__content .project-box__content--title {
        font-size: 2.4rem;
        line-height: 1.41;
        letter-spacing: -0.96px;
    }

    .project-box__content .project-box__content--desc {
        font-size: 1.4rem;
        line-height: 1.42;
    }

    .project-box__content .project-box__content--link {
        font-size: 1.6rem;
        line-height: 1.75;
    }

    .project-box .project-box__img {
        width: 122px;
        height: 93px;
    }

    .about__content .about__content--desc {
        width: 75%;
    }

    .about .about__number {
        padding: 30px 30px;
        column-gap: 65px;
    }

    .review__video .video {
        width: 99%;
    }

    .review__content .review__content--desc {
        width: 75%;
    }

    .review__preview .review__preview--quote {
        width: 90%;
    }

    .faq .faq__heading {
        width: 80%;
    }

    .faq__group .faq__label {
        width: 110%;
    }

    .faq__group .faq__input {
        width: 165%;
    }

    .faq__group .bar {
        width: 165%;
    }

    .faq__group .form__box {
        width: 30px;
        height: 30px;
        top: -20px;
        left: 150px;
    }

    .gallery__content .gallery__content--desc {
        width: 80%;
    }

    .contact .contact__title {
        width: 65%;
    }

    .contact .contact__desc {
        width: 80%;
    }

    .footer-navbar-list .navbar-link {
        font-size: 1.6rem;
    }

    .footer .footer-copyright {
        margin: 32px auto;
    }

    .footer-copyright .footer-copyright__right {
        margin-left: 30px;
        top: -100px;
        left: 25px;
    }
}
