*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --secondary-color: #51586a;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
    cursor: default;
}

/* Common */

a {
    text-decoration: none;
}

.btn {
    --height: 62px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: var(--height);
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: var(--height);
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
}

.section-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -0.224rem;
}

.section-desc {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 135px;
}

.mail {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.mail__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid #5c3bee22;
}

.mail__icon {
    width: 24px;
    height: 16px;
    object-fit: cover;
}

.mail__box--link {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    text-decoration-line: underline;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.navbar-list {
    display: flex;
    align-items: center;
    column-gap: 43px;
}

.navbar-link {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 400;
}

.navbar-link:hover {
    text-shadow: 1px 2px 1px #000;
}

/* Header */
.header,
.hero {
    background: #fbfaff;
}

/* Hero */
.hero {
    padding-top: 44px;
}

.hero__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    position: relative;
}

.hero__media::after {
    position: absolute;
    top: -80px;
    left: -215px;
    content: url(../img/hero-bg1.png);
}

.hero__media-images {
    position: relative;
    width: 514px;
    height: 705px;
    object-fit: cover;
    z-index: 1;
}

.hero__content {
    width: 44%;
}

.hero__content::after {
    position: absolute;
    right: -100px;
    bottom: 0;
    content: url(../img/hero-bg2.png);
}

.hero__content--title {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
}

.hero__content--desc {
    width: 74%;
    margin-top: 20px;
}

.hero__action {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 50px;
}

.hero__action--link {
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration-line: underline;
}

.hero__social {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 109px;
}

/* Company */
.company {
    margin-top: 100px;
}

.company__inner {
    display: flex;
    align-items: center;
    column-gap: 105px;
}

.company__title {
    width: 29%;
    display: inline-flex;
    flex-shrink: 0;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: -0.168rem;
}

.company__title::before {
    width: 8.6rem;
    height: 0.2rem;
    content: "";
    margin: 2.3rem 1.3rem 0 0;
    background: var(--primary-color);
}

.company__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

.company-box {
    display: flex;
    align-items: center;
    column-gap: 13px;
    cursor: pointer;
    transition: 0.25s;
}

.company-box:hover {
    transform: scale(1.3);
}

.company__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}

.company__name {
    color: #080415;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    flex-shrink: 0;
}

/* Service */
.service {
    margin-top: 133px;
}

.service__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service__content--desc {
    width: 47%;
    margin-top: 2rem;
    text-align: center;
}

.service__group {
    margin-top: 60px;
}

.service-box {
    padding: 33px 43px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fbfaff;
    cursor: pointer;
    transition: 0.25s;
}

.service-box:hover {
    border: none;
    transform: translatey(-20px);
    box-shadow: 10px 10px 8px #888;
}

.service-box__icon {
    width: 74px;
    height: 74px;
    object-fit: cover;
}

.service-box__title {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.service-box__desc {
    width: 28.5rem;
    margin-top: 15px;
}

/* Project */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: var(--primary-color);
}

.project__content {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.project__content--title {
    width: 41%;
    color: #fff;
}

.project__content--desc {
    width: 32%;
    color: #ccc;
}

.project__group {
    margin-top: 40px;
}

.project-box {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 47px;
    margin-top: 30px;
    padding: 26px;
    background: #fbfaff;
    transition: 0.5s;
}

.project-box:hover {
    rotate: -5deg;
}

.project-box .project-box::after {
    position: absolute;
    top: 0;
    right: 0;
    content: url(../img/project-bg.png);
}

.project-box__content--title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.project-box__content--desc {
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.3rem;
}

.project-box__content--link {
    display: inline-block;
    margin-top: 2rem;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration-line: underline;
}

.project-box__img {
    position: relative;
    width: 24.6rem;
    height: 18.7rem;
    object-fit: cover;
    z-index: 1;
}

.project__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;
    color: #080415;
    background: #fff;
}

/* About */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
}

.about__content {
    text-align: center;
}

.about__content--sub-title {
    margin-bottom: 10px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
}

.about__content--sub-title::after {
    display: inline-block;
    margin-left: 0.9rem;
    content: url(../icon/about-icon.png);
}

.about__content--desc {
    width: 68%;
    margin: 1.5rem auto;
}

.about__number {
    display: flex;
    align-items: center;
    column-gap: 150px;
    margin-top: 70px;
    padding: 20px 95px;
    border-top: 1px solid #08041522;
    border-bottom: 1px solid #08041522;
}

.about-item__number {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.35;
    letter-spacing: 0.168rem;
    text-decoration-line: underline;
}

.about-item__desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

/* Review */
.review {
    position: relative;
    margin-top: 375px;
    background: #fbfaff;
    padding: 473px 0 74px;
}

.review::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: url(../img/review-bg1.png);
}

.review::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: url(../img/review-bg2.png);
}

.review__video {
    position: absolute;
    top: -30.5rem;
}

.video {
    width: 100%;
    height: 62.8rem;
}

.play-video {
    position: absolute;
    top: 250px;
    left: 550px;
    cursor: pointer;
}

.intro-video {
    position: absolute;
    right: 6px;
    bottom: 10px;
    width: 170px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
}

.intro-video__text {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
}

.review__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review__content--desc {
    width: 50%;
    margin-top: 2rem;
    text-align: center;
}

.review__preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.review__preview--quote {
    width: 60%;
    color: var(--secondary-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.67;
}

.review-box__top {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 36px;
}

.review-box__top--avt {
    width: 40px;
    height: 40px;
    padding-top: 7px;
    object-fit: cover;
    border-radius: 50%;
    background: rgb(221, 167, 74);
}

.review-box__top--name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.review__preview--desc {
    margin-top: 3px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.81;
}

.review__radio-input {
    display: flex;
    margin-top: 40px;
}

.review-input {
    appearance: none;
    /* Xóa mặc định của input */
    display: block;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
        inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, 0.2);
    background-image: -webkit-radial-gradient(
        rgb(159, 44, 217) 25%,
        hsla(305, 71%, 63%, 0.3) 28%,
        hsla(290, 82%, 33%, 0) 70%
    );
    background-repeat: no-repeat;
    transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
        transform 0.25s cubic-bezier(0.8, 0, 1, 1);
    outline: none;
}

.review-input:checked {
    transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
        transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    background-position: 0 0;
}

.review-input:active {
    transform: scale(1.5);
    transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1);
}

.review-input,
.review-input:active {
    background-position: 0 24px;
}

.review-input:checked ~ .review-input,
.review-input:checked ~ .review-input:active {
    background-position: 0 -24px;
}

/* Faq */
.faq {
    margin-top: 95px;
}

.faq__heading {
    width: 50%;
}

.faq__quest {
    margin: 80px 160px 0 0;
}

.faq__group {
    position: relative;
    margin-top: 60px;
}

.faq__input {
    font-size: 16px;
    padding: 60px 0 33px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #08182f;
    background: transparent;
}

.faq__input:focus {
    outline: none;
    border-bottom: none;
}

.faq__label {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    position: absolute;
    pointer-events: none;
    left: 22px;
    top: 50px;
    transition: 0.2s ease all;
    transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.faq__input[type="text"] {
    padding-left: 22px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.faq__input:focus ~ .faq__label,
.faq__ .faq__input:valid ~ .faq__label {
    top: -10px;
    color: var(--primary-color);
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--primary-color);
    transition: 0.2s ease all;
    transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.faq__input:focus ~ .bar:before,
.faq__input:focus ~ .bar:after {
    width: 50%;
}

/* Hide the default checkbox */
.form__box .form__box--check {
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

.faq__box {
    position: absolute;
    bottom: 11px;
    right: 0;
    transition: 0.25s;
}

.form__box {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(216, 216, 216, 0.603);
}

.form__box:hover {
    background: rgba(197, 197, 197, 0.527);
}

.line {
    width: calc(100% - 20px);
    height: 3px;
    left: 10px;
    background: rgb(58, 58, 58);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.7s transform cubic-bezier(0, 1, 0.33, 1.2), background 0.4s;
}

.line-indicator {
    transform: translateY(-50%) rotate(90deg);
}

.form__box .form__box--check:checked ~ .line-indicator {
    transform: translateY(-50%);
}

.form__item--active .form__input {
    width: 48.7rem;
    display: block;
    margin-top: 2.3rem;
    border: none;
    outline: none;
}

.faq__input:focus ~ .faq__box {
    bottom: 56px;
}

/* Gallery */
.gallery {
    margin-top: 160px;
}

.gallery__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery__content--desc {
    width: 47%;
    margin-top: 2rem;
    text-align: center;
}

.gallery__content--link {
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
}

.gallery__group {
    margin-top: 70px;
}

.gallery-img {
    width: 370px;
    height: 529px;
    object-fit: cover;
    transition: 0.25s;
}

.gallery-img:hover {
    transform: translateY(-20px);
}

/* Contact */
.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 58px 0;
    margin: 140px 135px;
    background: #fbfaff;
}

.contact__title {
    margin-top: 27px;
}

.contact__desc {
    width: 50%;
    margin: 2.8rem 0 3.8rem;
    text-align: center;
}

.contact__btn {
    z-index: 1;
}

.contact__bg--left,
.contact__bg--center,
.contact__bg--right {
    position: absolute;
}

.contact__bg--left {
    left: 0;
    bottom: 0;
}

.contact__bg--center {
    top: 0;
    left: 140px;
}

.contact__bg--right {
    top: 0;
    right: 0;
}

/* Footer */
.footer {
    margin: 50px 0;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 129px;
    margin: 32px 86px 36px;
    border-top: 1px solid #0c07204c;
}

.copyright__left,
.copyright__right {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    opacity: 0.6;
}

.copyright__right {
    display: flex;
    column-gap: 46px;
    letter-spacing: -0.054rem;
}

.copyright__right--text {
    position: relative;
}

.copyright__right--text::after {
    position: absolute;
    top: 8px;
    right: -23px;
    content: "";
    width: 1%;
    height: 14px;
    background: #525771;
    opacity: 0.6;
}
